h1 {
	color:grey;
}

#header {
	color:orange;
	font-family: cursive;
}

th {
	background-color: #c1c2c1;
}

a:hover {
		text-decoration: underline;
		background-color: lightgrey;
}

td {
	font-style: italic;
}

tbody tr:nth-child(odd) {
		background-color: orange;
}

tbody tr:nth-child(even) {
		background-color: lightblue;
}
			