#header1 {
	padding: 2%;
}

#footer {
	text-align: center;
}

.header {
	font-family: fantasy;
}

div.menu {
	background-color: lightgrey;
	text-align: center;
}

#content {
	background-color: lightblue;
}

#unimportant {
	font-weight: normal;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bolder
	color:lightblue;
}

a:active {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}
